/*GENERAL STYLES*/
*,*::before {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #f3f3f3;
}

.section {
    width: 95%;
    margin: 0 auto 50px;
}

.btn:hover{
    cursor: pointer;
}

/*STYLES FOR SUBMITING DATA FORM*/

.addEvent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: center;
    border: 1px solid #E0E0E0;
}

.addEvent::before {
    content: '';
    height: 100%;
    width: 10px;
    background-color: #4285F4;
    position: absolute;
    left: 0;
}

.addEvent__header {
    width: 100%;
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.inputContainer__item {
    width: 35%;
    position: relative;
}

.inputContainer__item--bigger {
    width: 55%;
}

.errorInfo{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: -80%;
    border: 1px solid red;
    background-color: #fff;
    color: #000;
    opacity: 0;
}

.errorInfo__contents{
    margin: 8px 0;
}

.addEvent__label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.addEvent__btn {
    width: 20%;
    margin: 8px 0 8px;
    display: block;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
}

/*STYLES FOR THE LIST OF EVENTS*/

.input {
    width: 90%;
    padding: 0;
    height: 22px;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item {
    border: 1px solid #E0E0E0;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

.list__item::before {
    content: '';
    height: 100%;
    width: 10px;
    background-color: #1E8E3E;
    position: absolute;
    left: 0;
}

.dataContainer {
    width: 85%;
}

.btn--deleteEvent {
    height: 100%;
    width: 15%;
    border: none;
    background-color: black;
    color: white;
}

.list__eventDate {
    padding: 2px;
}

.list__eventContents {
    border-bottom: 1px solid #1E8E3E;
    padding: 5px;
}

/* STYLES FOR DARK MODE */
.appDark{/*body*/
    background-color: #0a0101;
    color: #efefef;
}
/* I know it is not accordance with BEM, but thanks to this way of styles
writting I don't have to add --darkmode to each input/button */
.appDark button{
    background-color: #0a0101;
    color: #efefef;
    border: none;
    border: 2px solid #efefef;
}
.appDark input{
    background-color: #efefef;
}
/*MEDIA QUERIES*/

@media(min-width: 480px) {
    .addEvent__btn {
        width: 15%;
    }

    .dataContainer {
        width: 88%;
    }

    .btn--deleteEvent {
        width: 12%;
    }
}

@media(min-width: 640px) {
    .addEvent__btn {
        width: 11%;
    }

    .dataContainer {
        width: 90%;
    }

    .btn--deleteEvent {
        width: 10%;
    }
}

@media(min-width: 860px) {
    .addEvent__btn {
        width: 80px;
    }

    .list__item {
        height: 60px;
    }

    .dataContainer {
        width: 92%;
    }

    .btn--deleteEvent {
        width: 8%;
    }
}

@media(min-width: 1024px) {
    .section {
        width: 1000px;
    }

    .dataContainer {
        width: 940px;
    }

    .btn--deleteEvent {
        width: 60px;
    }
}

/* ERROR STYLES */

.input--error{
    border: 1px solid red;
}

/* ANIMATIONS */

@keyframes errorApperance{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* AUXILIARY CLASSES */

.animApperance {
    animation: errorApperance 7s 1 both ease-in-out;
}